<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78739178434-v9ou55jemaf18vrhhcvuu86q5amquugg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78739178434-v9ou55jemaf18vrhhcvuu86q5amquugg</string>
	<key>API_KEY</key>
	<string>AIzaSyDT7DJWKIjNkVP9fpY1PqP__8a641UhseY</string>
	<key>GCM_SENDER_ID</key>
	<string>78739178434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moing.moing-team</string>
	<key>PROJECT_ID</key>
	<string>moing-ver2</string>
	<key>STORAGE_BUCKET</key>
	<string>moing-ver2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78739178434:ios:9b84bb6b36be74af44cc5b</string>
</dict>
</plist>